<!-- -->

<launch>

	
	<!-- ros_args.launch -->
	<arg name="config_file" default="$(find uri_bridge)/configfiles/keyboard_command_kynematic_iris.xml" doc="example configuration file for uri-soft using iris interface"/>
	<arg name="sched_time" default="0.001" doc="Interval time at which the scheduler checks if some task must be run."/>
	
	
	
	
	<group ns="robot_1">
		
		<node name="uri_core_1" pkg="uri_core" type="uri_core_node">
			<param name="configuration_file" value="$(arg config_file)" />
			<param name="scheduler_time" value="$(arg sched_time)" />
		</node>
		
<!--		<node name="node" pkg="uri_gazebo" type="sitl_gazebo_interface">
		</node>-->
		
	</group>
	
	
	<include file="$(find uri_gazebo)/launch/bridge.launch">
	</include>
	
	
</launch>