<?xml version="1.0"?>

<robot name="iris"  xmlns:xacro="http://ros.org/wiki/xacro">
	
	<xacro:macro name="iris_base" params="name">
		
		<link name="base_link">
			<collision name='body'>
				<geometry>
					<mesh filename="package://uri_gazebo/meshes/iris_collision.dae" scale="1 1 1" />
				</geometry>
			</collision>
			<visual name='body'>
				<geometry>
					<mesh filename="package://uri_gazebo/meshes/iris.dae" scale="1 1 1" />
				</geometry>
			</visual>
		</link>
		
		<gazebo reference="base_link">
			<material>URI/Blue</material>
		</gazebo>
	</xacro:macro>
	
	
</robot>
