<?xml version="1.0"?>
<robot 
  name="iris"
  xmlns:xacro="http://ros.org/wiki/xacro"
>
	<link name="base_link">
		<collision name='body'>
			<geometry>
				<mesh filename="package://uri_gazebo/meshes/iris_collision.dae" scale="1 1 1" />
			</geometry>
		</collision>
		<visual name='body'>
			<geometry>
				<mesh filename="package://uri_gazebo/meshes/iris.dae" scale="1 1 1" />
			</geometry>
		</visual>
	</link>
	
	
	
	
	<gazebo reference="base_link">
		<material>URI/Blue</material>
	</gazebo>
  
  <!-- Asus Xiton Live Pro -->
<!--  <xacro:include filename="qc13_xtion.urdf.xacro" />
  <xacro:asus_camera name="camera" parent="base_link">
    <origin xyz="0.044 -0.044 +0.11" rpy="-1.6232 0.3927 -0.7854"/>
  </xacro:asus_camera>-->
  
  <!-- MAPIP cameras -->
	<xacro:include filename="generic_camera.urdf.xacro" />
	<xacro:generic_camera name="left_camera" parent="base_link" ros_topic="camera_image" cam_info_topic="camera_info" update_rate="30" res_x="4608" res_y="3456" image_format="R8G8B8" hfov="${0.6/M_PI * 180.0}">
		<origin xyz="-0.01 0.15 0.06" rpy="0 ${-M_PI/1000} ${M_PI/4}"/>
	</xacro:generic_camera>
		
<!--	<xacro:include filename="generic_camera.urdf.xacro" />-->
	<xacro:generic_camera name="right_camera" parent="base_link" ros_topic="camera_image" cam_info_topic="camera_info" update_rate="30" res_x="4608" res_y="3456" image_format="R8G8B8" hfov="${0.6/M_PI * 180.0}">
		<origin xyz="0.15 -0.15 0.06" rpy="0.0 0.01 0.0"/>
	</xacro:generic_camera>

	<!-- Sonar Range Finder -->
	<xacro:include filename="sonar_sensor.urdf.xacro" />
	<xacro:sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_distance" update_rate="40" min_range="0.01" max_range="25.0" field_of_view="0.01" ray_count="1">
		<origin xyz="-0.0 0.0 -0.07" rpy="0.1 ${M_PI/2} 0"/>
	</xacro:sonar_sensor>
	
	<!-- laser Range Finder -->
	<xacro:include filename="generic_laser.urdf.xacro" />
	<xacro:generic_laser
		name="hokuyo"
		parent="base_link"
		size_x="0.05" size_y="0.05" size_z="0.07"
		ros_topic="hokuyo"
		visualize_laser="true"
		update_rate="30"
		samples="1080"
		min_angle="-2.09439510239" 
		max_angle="2.09439510239"
		range_min="0.1"
		range_max="10.0"
		range_res="0.01"
		noise_mean="0.0"
		noise_stddv="0.01">
		<origin xyz="-0.02 0.0 0.18" rpy="${M_PI/2} ${-M_PI/2} 0"/>
	</xacro:generic_laser>
	

	
	
</robot>
