<!-- -->
<launch>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find uri_gazebo)/worlds/beach.world"/>
    <!-- more default parameters can be changed here -->
  </include>
  
  <!-- Convert an xacro and put on parameter server -->
  <param name="robot_description" command="$(find xacro)/xacro.py $(find uri_gazebo)/urdf/iris.urdf.xacro" />
  
  <!-- Spawn a robot into Gazebo -->
  <node name="qc13_spawm" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -x 0.0 -y 0.0 -z 0.001 -model iris" />
  
<!--   <node name="carpet1" pkg="gazebo_ros" type="spawn_model" args="-file $(find uri_gazebo)/urdf/carpet.urdf -urdf -x 1.00 -y 1.25 -z 0.01 -model carpet1" respawn="false" /> -->
<!--   <node name="carpet2" pkg="gazebo_ros" type="spawn_model" args="-file $(find uri_gazebo)/urdf/carpet.urdf -urdf -x 1.00 -y -1.25 -z 0.01 -model carpet2" respawn="false" /> -->
<!--   <node name="carpet3" pkg="gazebo_ros" type="spawn_model" args="-file $(find uri_gazebo)/urdf/carpet.urdf -urdf -x -1.00 -y 1.25 -z 0.01 -model carpet3" respawn="false" /> -->
<!--   <node name="carpet4" pkg="gazebo_ros" type="spawn_model" args="-file $(find uri_gazebo)/urdf/carpet.urdf -urdf -x -1.00 -y -1.25 -z 0.01 -model carpet4" respawn="false" /> -->
<!--   <node name="carpet5" pkg="gazebo_ros" type="spawn_model" args="-file $(find uri_gazebo)/urdf/carpet.urdf -urdf -x 3.00 -y 1.25 -z 0.01 -model carpet5" respawn="false" /> -->
<!--   <node name="carpet6" pkg="gazebo_ros" type="spawn_model" args="-file $(find uri_gazebo)/urdf/carpet.urdf -urdf -x 3.00 -y -1.25 -z 0.01 -model carpet6" respawn="false" /> -->

  <!-- node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" / -->

</launch>
