<?xml version="1.0"?>
<robot 
  name="iris"
  xmlns:xacro="http://ros.org/wiki/xacro"
>
	
	<xacro:include filename="$(find uri_gazebo)/urdf/iris_base.urdf.xacro" />
	<xacro:iris_base name="iris_base">
		<origin xyz="0 0 0" rpy="0 0 0"/>
	</xacro:iris_base>
	
	
	<!-- laser Range Finder -->
	<xacro:include filename="$(find uri_gazebo)/urdf/generic_laser.urdf.xacro" />
	<xacro:generic_laser
		name="hokuyo"
		parent="base_link"
		size_x="0.062" size_y="0.062" size_z="0.0875"
		ros_topic="hokuyo"
		visualize_laser="true"
		update_rate="40"
		samples="1080"
		min_angle="-2.35619449019" 
		max_angle="2.35619449019"
		range_min="0.1"
		range_max="30.0"
		range_res="0.01"
		noise_mean="0.0"
		noise_stddv="0.03">
		<origin xyz="0.0 0.0 -0.10" rpy="0 ${M_PI/3} 0"/>
	</xacro:generic_laser>
	
	<!-- Sonar Range Finder -->
<!--	<xacro:include filename="sonar_sensor.urdf.xacro" />
	<xacro:sonar_sensor name="sonar" parent="base_link" ros_topic="sonar_distance" update_rate="40" min_range="0.01" max_range="25.0" field_of_view="0.01" ray_count="1">
		<origin xyz="-0.0 0.0 -0.07" rpy="0 ${M_PI/2} 0"/>
	</xacro:sonar_sensor>-->
	
	
</robot>
